<div class="posts-wrap">
  <div style="margin-bottom: 20px">
    <div class="search">
      <span> Title </span>
      <input
        [(ngModel)]="searchTitle"
        (ngModelChange)="onSearchTitleChange($event)"
        id="searchTitle"
        type="text"
        class="input-search"
        placeholder="Search Title"
      />
    </div>
    <div class="search">
      <span> Body </span>
      <input
        #search
        [(ngModel)]="searchBody"
        (ngModelChange)="onSearchBodyChange($event)"
        id="searchBody"
        type="text"
        class="input-search"
        placeholder="Search Body"
      />
    </div>
    <div class="actions-wrap">
      <button (click)="onSearch()" class="button-4" role="button">Search</button>
    </div>
  </div>
  <ngx-datatable
    *ngIf="postsList"
    [rows]="rows"
    class="material"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="70"
    rowHeight="auto"
    [reorderable]="reorderable"
    [count]="totalElements"
    [loadingIndicator]="isLoading"
    [limit]="10"
    [sorts]="[{ prop: 'id' }]"
  >
    <ngx-datatable-column
      name="ID"
      prop="id"
      [width]="100"
      [cellClass]="'custom-cell'"
    >
      <ng-template ngx-datatable-cell-template let-value="value">
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="User ID"
      prop="userId"
      [width]="100"
      [cellClass]="'custom-cell'"
      [sortable]="false"
    >
      <ng-template ngx-datatable-cell-template let-value="value">
        {{ value }}
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Title"
      prop="title"
      [width]="400"
      [cellClass]="'custom-cell'"
      [sortable]="false"
    >
      <ng-template ngx-datatable-cell-template let-value="value">
        <p>{{ value }}</p>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Body"
      prop="body"
      [width]="400"
      [cellClass]="'custom-cell'"
      [sortable]="false"
    >
      <ng-template ngx-datatable-cell-template let-value="value">
        <p>{{ value }}</p>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Action"
      [width]="150"
      [cellClass]="'custom-cell'"
      [sortable]="false"
    >
      <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
        <button
          mat-mini-fab
          color="primary"
          class="custom-button"
          (click)="onShowDetail(row)"
        >
          <mat-icon>info</mat-icon>
        </button>
        <button
          mat-mini-fab
          color="warn"
          class="custom-button"
          (click)="onDelete(row)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </ng-template>
    </ngx-datatable-column>
  </ngx-datatable>
  <!-- <div class="post" *ngFor="let item of postsList">
        <h2> {{ item.title }} </h2>
        <p> {{ item.body }} </p>
    </div> -->
</div>
